/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* My Colors */
/* BLACK #0c0c0c  rgb(12, 12, 12)
   GOLD #FFD585 rgb(255, 213, 133)
  WHITE #FFFFFF rgb(255, 255, 255)
*/

@media only screen and (max-width: 600px) {
  html {
    height: 100%;
  }
  body {
    background-color: #0c0c0c;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
  }
  footer {
    background-color: #ffd585;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 96%;
    height: 10%;
    border-radius: 8px;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
  }

  .ficon {
    font-size: 2em;
    transition: 0.5s ease-in-out;
    /* width: 35px;
    height: 35px; */
  }
  .fa-play {
    transform: scale(1.25) translateY(-0.12em);
    background: linear-gradient(135deg, #23f, #6589ff);
  }
  header {
    /* rgba(255, 213, 133, 0.3) */
    box-shadow: rgba(255, 213, 133, 0.3) 0px 5px 15px;
    width: 96%;
    height: 12%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  header h2,
  h3 {
    color: #ffd585;
    font-family: "Quicksand", sans-serif;
  }
  header h2 {
    font-size: 2.5em;
  }
  header h3 {
    font-size: 2em;
  }

  .board {
    height: 100%;
    width: 100%;
  }
  .outer-board {
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    width: 96%;
    border-radius: 3%;
    display: flex;
    flex-direction: row;
  }

  /* Wrapper for the knigth icons for footer */
  .wrapper {
    border-radius: 1em;
    height: auto;
    width: auto;
    padding: 0.6em;
  }
  .whiteWrapper {
    border: 2px solid black;
  }
  .rank {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 1%;
  }
  .rank h4 {
    color: #ffd585;
    font-family: "Quicksand", sans-serif;
  }
  .file {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1%;
  }
  .file h4 {
    color: #ffd585;
    font-family: "Quicksand", sans-serif;
  }
  .row {
    width: 100%;
    height: 12.5%;
    display: flex;
    flex-direction: row;
  }

  .col {
    height: 100%;
    width: 12.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid #ffd585; */
  }

  /* Setting the visibility of pieces to be hidden on launch of web app */

  .piece {
    visibility: hidden;
  }

  /* setting border radius for corner cells */
  .row1 .col:first-child {
    border-radius: 20% 0 0 0;
  }
  .row1 .col:last-child {
    border-radius: 0 20% 0 0;
  }
  .row8 .col:first-child {
    border-radius: 0 0 0 20%;
  }
  .row8 .col:last-child {
    border-radius: 0 0 20% 0;
  }
  /* Setting background colors for the cells in the board*/
  .row1 .col:nth-child(even),
  .row3 .col:nth-child(even),
  .row5 .col:nth-child(even),
  .row7 .col:nth-child(even) {
    background-color: #b58863;
  }
  .row1 .col:nth-child(odd),
  .row3 .col:nth-child(odd),
  .row5 .col:nth-child(odd),
  .row7 .col:nth-child(odd) {
    background-color: #f0d9b5;
  }

  .row2 .col:nth-child(odd),
  .row4 .col:nth-child(odd),
  .row6 .col:nth-child(odd),
  .row8 .col:nth-child(odd) {
    background-color: #b58863;
  }
  .row2 .col:nth-child(even),
  .row4 .col:nth-child(even),
  .row6 .col:nth-child(even),
  .row8 .col:nth-child(even) {
    background-color: #f0d9b5;
  }
}
